<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Bluetooth classic (pre-Android 12) -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- BLE scanning requires location on Android <= 11 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />

    <!-- Android 12+ BLE runtime permissions -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        tools:targetApi="s" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />


    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".IPCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme = "@style/Theme.IPC_APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity
            android:name=".ui.screens.splash.SplashScreenActivity"
            android:theme = "@style/Theme.AppSplash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.role.ChooseRoleActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.home.PatientHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.exercises.list.ExercisesListActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.exercises.info.ExerciseActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.exercises.selection.ChooseCameraOrSensorActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.exercises.sensor.SensorActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.exercises.done.PatientExerciseActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.profile.PatientProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.profile.PhysiotherapistProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.search.SearchPhysiotherapistsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.home.PhysiotherapistHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.details.PatientDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.details.PhysiotherapistDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.plan.CreatePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.plan.PlanActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

<!-- ML KIT Activities -->

        <activity
            android:name=".mlkit.vision.CameraXLivePreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.IPC_APP"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".mlkit.preference.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.IPC_APP"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.screens.plan.PlanLibraryActivity" android:exported="false" android:screenOrientation="portrait" />
    </application>

</manifest>
